/* fonts */
@import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@400;600;800&display=swap");

* {
  font-family: "Plus Jakarta Sans", sans-serif;
}

html {
  scroll-behavior: smooth;
}

body {
  padding: 0;
  margin: 0;
}
section {
  padding: 50px;
}

/* navbar */
nav {
  display: flex;
  justify-content: space-between;
  background-color: rgb(255, 255, 255);
  height: 60px;
  width: 100%;
  position: fixed;
  z-index: 2;
  opacity: 0.9;
  transition: 500ms ease-in-out;
}

nav:hover {
  opacity: 1;
}

nav .logo {
  display: flex;
  text-decoration: none;
  color: rgb(0, 0, 0);
}

nav .logo h1 {
  font-weight: 800;
  font-size: 4vmin;
  margin-top: 14px;
}

nav .logo img {
  width: 50px;
  height: 50px;
  margin-top: 5px;
  margin-right: 5px;
  margin-left: 15px;
}

nav ul {
  display: flex;
  list-style: none;
  width: 500px;
  justify-content: space-evenly;
}

nav ul li a {
  text-decoration: none;
  color: black;
  font-size: 1.1em;
}

nav ul li a:hover {
  color: #56ab91;
}

/* menu */
.menu-toggle span {
  display: block;
  width: 38px;
  height: 3px;
  margin-left: -60px;
  background-color: rgb(0, 0, 0);
  border-radius: 3px;
  transition: all 0.3s;
  z-index: 1;
}

.menu-toggle input {
  position: absolute;
  width: 50px;
  left: -75px;
  top: -5px;
  height: 38px;
  opacity: 0;
  cursor: pointer;
  z-index: 3;
}
.menu-toggle {
  display: none;
  flex-direction: column;
  height: 23px;
  margin-top: 15px;
  justify-content: space-between;
  position: relative;
}

/* animasi menu */
.menu-toggle span:nth-child(2) {
  transform-origin: 0 0;
}
.menu-toggle span:nth-child(4) {
  transform-origin: 0 100%;
}
.menu-toggle input:checked ~ span:nth-child(2) {
  background-color: rgb(0, 0, 0);
  transform: rotate(45deg) translate(-5px, -4px);
}
.menu-toggle input:checked ~ span:nth-child(4) {
  background-color: rgb(0, 0, 0);
  transform: rotate(-45deg) translate(-1px, 0px);
}
.menu-toggle input:checked ~ span:nth-child(3) {
  opacity: 0;
  transform: scale(0);
}

/* header */
.header {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.header img {
  width: 100%;
  margin-top: 60px;
  opacity: 0.9;
  transition: 500ms ease-in-out;
}

.header img:hover {
  opacity: 1;
}

.header h1 {
  text-align: center;
  position: absolute;
  color: rgb(0, 0, 0);
  font-weight: 800;
  font-size: 7vmin;
}

.header h1 span {
  color: rgb(255, 52, 52);
  transition: 500ms ease-in-out;
}

.header h1 span:hover {
  color: rgb(255, 0, 0);
  cursor: pointer;
}

/* keanggotaan */
#anggota {
  display: grid;
  justify-content: center;
}

#anggota h2 {
  font-size: 4vmin;
  text-align: center;
  margin-bottom: 30px;
  margin-top: 50px;
}

#anggota .teks {
  display: grid;
  justify-content: center;
  grid-template-columns: 2fr 2fr;
}

#anggota .teks1 {
  margin-right: 30px;
}

#anggota .teks1 h3 {
  font-size: 3.5vmin;
}

#anggota .teks2 {
  margin-left: 30px;
}

#anggota .teks2 h3 {
  font-size: 3.5vmin;
}

#anggota a {
  text-align: center;
}

#anggota button {
  border: 0;
  background-color: #181b1b;
  color: #fff;
  padding: 8px 40px;
  border-radius: 20px;
  margin: 0 auto;
  font-size: 15px;
  transition: 500ms ease-in-out;
}

#anggota button:hover {
  cursor: pointer;
  background-color: #343636;
  transform: scale(0.95);
}

/* mulai tim */
#mulaiTim {
  background-color: #91baad;
  color: #fff;
  text-align: center;
}

#mulaiTim .container {
  padding: 50px 0px;
}

#mulaiTim .container h2 {
  margin-bottom: 50px;
  font-size: 4vmin;
}

#mulaiTim .container hr {
  margin-bottom: 50px;
  max-width: 500px;
}

#mulaiTim .container p {
  margin-bottom: 50px;
  font-size: 3vmin;
}

#mulaiTim button {
  border: 0;
  background-color: #181b1b;
  color: #fff;
  padding: 8px 50px;
  border-radius: 20px;
  margin: 0 auto;
  font-size: 15px;
  margin-bottom: 30px;
  transition: 500ms ease-in-out;
}

#mulaiTim button:hover {
  cursor: pointer;
  background-color: #343636;
  transform: scale(0.95);
}

/* footer */
footer {
  padding-top: 50px;
  padding-bottom: 50px;
  display: flex;
  width: 100%;
  background-color: #56ab91;
  justify-content: space-evenly;
  color: #fff;
  font-size: 2.5vmin;
}

footer ul li {
  list-style: none;
}

footer ul li a {
  text-decoration: none;
  color: #f0f0f0;
}

footer ul li a:hover {
  color: #fff;
  text-decoration: underline;
}

footer ul li p {
  color: #f0f0f0;
}

footer .logo {
  text-align: center;
}

footer .logo img {
  border-radius: 50%;
}

footer .dukungkami button {
  background: none;
  width: 100px;
  height: 30px;
  color: white;
  border: none;
  background-color: #181b1b;
  border-radius: 20px;
  transition: 500ms ease-in-out;
}

footer .dukungkami button:hover {
  cursor: pointer;
  background-color: #242727;
  transform: scale(0.95);
}

/* responsive */
@media only screen and (max-width: 1200px) {
  nav ul {
    display: flex;
  }
}

@media only screen and (max-width: 960px) {
  nav ul {
    display: flex;
  }

  .header {
    width: 100%;
  }
}

@media only screen and (max-width: 850px) {
  nav ul {
    display: none;
  }
  .menu-toggle {
    display: flex;
  }
}

@media only screen and (max-width: 768px) {
  nav ul {
    display: flex;
  }

  nav .logo h1 {
    margin-top: 18px;
  }

  .menu-toggle {
    display: flex;
  }

  .header h1 {
    margin-top: 60px;
    color: rgb(0, 0, 0);
  }

  nav ul {
    position: absolute;
    right: 0;
    top: 0;
    padding-top: 10px;
    width: 100%;
    height: 50vh;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
    background-color: #fff;
    z-index: -1;
    transform: translateY(-100%);
    transition: all 0.3s ease-in-out;
    opacity: 0.9;
  }

  nav ul.slide {
    opacity: 1;
    transform: translateY(0);
  }

  #anggota h2 {
    font-size: 18px;
  }

  #anggota .teks h3 {
    font-size: 16px;
  }

  #anggota .teks {
    display: grid;
    grid-template-columns: 1fr;
  }

  #anggota .teks .teks2 {
    margin-left: 0;
    margin-top: 20px;
    margin-bottom: 30px;
  }

  #mulaiTim .container h2 {
    font-size: 18px;
  }

  #mulaiTim .container p {
    font-size: 16px;
  }

  footer {
    display: grid;
    grid-template-columns: 1fr;
  }

  footer .logo h2 {
    display: none;
  }

  footer .logo {
    margin-top: -20px;
  }

  footer .navigasi {
    font-size: 18px;
  }

  footer .sosmed {
    font-size: 18px;
  }

  footer .dukungkami {
    font-size: 18px;
  }
}

@media only screen and (max-width: 460px) {
  nav ul {
    display: flex;
  }

  .menu-toggle {
    display: flex;
  }

  nav ul {
    position: absolute;
    right: 0;
    top: 0;
    padding-top: 10px;
    width: 100%;
    height: 50vh;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
    background-color: #fff;
    z-index: -1;
    transform: translateY(-100%);
    transition: all 0.3s ease-in-out;
    opacity: 0.5;
  }

  nav ul.slide {
    opacity: 0.98;
    transform: translateY(0);
  }
}
